<div id="barba-wrapper">
  <div class="barba-container">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero vel molestias hic minima, accusamus eius labore voluptate
      accusantium in ut expedita id voluptatum neque nam earum praesentium, enim fugit fugiat.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero vel molestias hic minima, accusamus eius labore voluptate
      accusantium in ut expedita id voluptatum neque nam earum praesentium, enim fugit fugiat.</p>
    <img src="../assets/images/dahlias-2580236_1920.png" alt="" srcset="">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero vel molestias hic minima, accusamus eius labore voluptate
      accusantium in ut expedita id voluptatum neque nam earum praesentium, enim fugit fugiat.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero vel molestias hic minima, accusamus eius labore voluptate
      accusantium in ut expedita id voluptatum neque nam earum praesentium, enim fugit fugiat.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero vel molestias hic minima, accusamus eius labore voluptate
      accusantium in ut expedita id voluptatum neque nam earum praesentium, enim fugit fugiat.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero vel molestias hic minima, accusamus eius labore voluptate
      accusantium in ut expedita id voluptatum neque nam earum praesentium, enim fugit fugiat.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero vel molestias hic minima, accusamus eius labore voluptate
      accusantium in ut expedita id voluptatum neque nam earum praesentium, enim fugit fugiat.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero vel molestias hic minima, accusamus eius labore voluptate
      accusantium in ut expedita id voluptatum neque nam earum praesentium, enim fugit fugiat.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero vel molestias hic minima, accusamus eius labore voluptate
      accusantium in ut expedita id voluptatum neque nam earum praesentium, enim fugit fugiat.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero vel molestias hic minima, accusamus eius labore voluptate
      accusantium in ut expedita id voluptatum neque nam earum praesentium, enim fugit fugiat.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero vel molestias hic minima, accusamus eius labore voluptate
      accusantium in ut expedita id voluptatum neque nam earum praesentium, enim fugit fugiat.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero vel molestias hic minima, accusamus eius labore voluptate
      accusantium in ut expedita id voluptatum neque nam earum praesentium, enim fugit fugiat.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero vel molestias hic minima, accusamus eius labore voluptate
      accusantium in ut expedita id voluptatum neque nam earum praesentium, enim fugit fugiat.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero vel molestias hic minima, accusamus eius labore voluptate
      accusantium in ut expedita id voluptatum neque nam earum praesentium, enim fugit fugiat.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero vel molestias hic minima, accusamus eius labore voluptate
      accusantium in ut expedita id voluptatum neque nam earum praesentium, enim fugit fugiat.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero vel molestias hic minima, accusamus eius labore voluptate
      accusantium in ut expedita id voluptatum neque nam earum praesentium, enim fugit fugiat.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero vel molestias hic minima, accusamus eius labore voluptate
      accusantium in ut expedita id voluptatum neque nam earum praesentium, enim fugit fugiat.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero vel molestias hic minima, accusamus eius labore voluptate
      accusantium in ut expedita id voluptatum neque nam earum praesentium, enim fugit fugiat.</p>
  </div>
</div>