<div id="barba-wrapper">
  <div class="barba-container">
    <img src="../assets/images/summer-2611844_1920.jpg" alt="" srcset="">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error eligendi nulla quisquam provident, similique sit nesciunt perspiciatis? Deleniti dolorem corrupti nemo repellat dolores, consequatur aut ex minus rem? Atque, eum?</p>
    <p>Amet architecto, maxime quaerat accusantium inventore unde nemo necessitatibus quia sit voluptatum quasi. Minima quaerat, similique adipisci accusantium deserunt provident est ducimus. Aspernatur aliquid iusto, dicta velit ab ea voluptatum.</p>
    <p>Id, laudantium ab perspiciatis labore deleniti, culpa hic debitis ea fugiat velit praesentium mollitia. Illo officia impedit nam ducimus, perspiciatis quisquam blanditiis ratione doloribus architecto quae rerum, nisi quam veritatis.</p>
    <p>Iusto nesciunt fugit expedita recusandae distinctio laudantium placeat porro, consequuntur et hic blanditiis labore voluptates non error, eligendi laboriosam ea doloribus nam qui voluptas iure odio asperiores sequi soluta. Vitae!</p>
    <p>Quia nulla ut ea vero, quo omnis nam sed dolor nisi tenetur sequi, temporibus ipsam, adipisci dolorem ad dignissimos aliquid molestiae debitis. Provident, obcaecati odit veniam unde consequatur eveniet? Iusto?</p>
    <p>Sunt architecto quasi similique magni expedita, excepturi harum dolorem nisi inventore iusto, sint fuga consectetur vero sapiente, nesciunt natus doloribus at quos nemo officia aperiam earum. Officia debitis quod quas.</p>
    <p>Dolores consequuntur culpa architecto ipsam quia. Nam hic suscipit recusandae corporis vero illo commodi error dolorem quibusdam soluta itaque ipsam eius iusto, libero porro, praesentium excepturi optio architecto? Consectetur, natus?</p>
    <p>Est, maxime ratione animi quod, dolore ullam consequatur, nostrum id nobis natus dicta. Ullam illum exercitationem similique eveniet nobis vitae neque sunt molestias! Velit rem nisi ipsum quam voluptatem totam.</p>
    <p>Reiciendis obcaecati veniam atque ab ipsa rerum, facilis quod, nesciunt maiores repellendus ex vero illo quisquam! Natus optio rerum ullam repellendus assumenda nisi asperiores facilis possimus, illo cumque eum voluptates.</p>
    <p>Asperiores impedit hic at dolorem sit cumque ipsum? Asperiores ab fugiat animi quam ipsum laboriosam. Assumenda fugit aspernatur sequi? Quod maxime cupiditate optio veniam suscipit voluptate, ratione consequuntur aliquid culpa.</p>
    <p>Voluptates, ullam odit! Quae deserunt odit, natus, architecto ullam dolorum quos et necessitatibus neque debitis cum nisi nostrum, distinctio sequi expedita eius fuga accusamus voluptas amet consequuntur tempora cupiditate placeat!</p>
    <p>Sunt blanditiis in excepturi. Asperiores dolore quasi deleniti reprehenderit voluptate explicabo doloremque eligendi sapiente nam! Doloribus, consequatur accusantium necessitatibus, ut voluptatibus nihil, tempore quasi repellat corrupti est perferendis alias laborum!</p>
    <p>Nulla autem voluptatem sapiente eius commodi minus, nam saepe quod quis, doloremque, quibusdam itaque asperiores nostrum debitis magnam omnis? Eius nemo voluptates sint quas ratione? Ab architecto labore odio expedita.</p>
    <p>Voluptate sequi temporibus doloribus perferendis sint, ullam impedit officia debitis tenetur recusandae et rem ipsa saepe iure placeat ut natus dignissimos beatae? Provident alias porro nam. Aliquid nisi repudiandae eligendi.</p>
    <p>Blanditiis expedita, temporibus quos, ipsa deleniti harum nihil quisquam aliquam nesciunt magni accusamus alias fugiat qui animi impedit ut consequuntur sed laborum voluptatum natus libero. Aliquam expedita deserunt dolores itaque!</p>
    <p>Quis soluta, quam nesciunt officiis sunt rerum repudiandae ad molestias tempora iure omnis neque eligendi vero cumque! Assumenda velit alias esse, officia nesciunt fuga corrupti iure nobis dolores, sint praesentium!</p>
    <p>Repellendus nesciunt eius esse ab unde labore cumque voluptatibus magni odit et dolorem autem, animi consequuntur doloremque quae rerum nihil totam? Quia nihil magni rerum molestias perspiciatis facere qui incidunt.</p>
    <p>Ex reprehenderit maiores itaque fugit aliquam, quo porro asperiores ullam. Quo tenetur molestiae magni rem rerum soluta commodi autem sint modi perspiciatis officiis, debitis, ipsam, fugit consectetur corporis deserunt neque!</p>
    <p>Commodi cumque, deserunt blanditiis voluptas repellendus libero delectus at vitae, ratione earum molestias ullam iure! Amet doloribus minima quia pariatur fuga, maxime reprehenderit ab quasi expedita ipsum in incidunt commodi.</p>
    <p>Rerum reiciendis nam rem necessitatibus facilis odio doloribus quibusdam debitis numquam porro repellat repellendus harum, illum laboriosam, quos esse doloremque commodi vel, ut ullam maxime et dolorem dolores? Incidunt, molestias.</p>
  </div>
</div>